a {
    /* styling for links */
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: block;
}

a:first-child {
    /* Lower triangle / button link to Play section */
    -webkit-clip-path: polygon(0 0, 0 100vh, 100% 100vh);
    clip-path: polygon(0 0, 0 100vh, 100% 100vh);
    background: #fcfcfc;
}

a:last-child {
    /* Upper triangle / button link to Work section */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh);
    clip-path: polygon(0 0, 100% 0, 100% 100vh);
    background: #212121;
}

#wlink {
    /* SVG file for Work section */
    position: absolute;
    max-width: 50%;
    right: 3.55%;
    /* anchoring it to top right */
    top: 5%;
    margin: auto;
}

#plink {
    /* SVG file for Play section */
    position: absolute;
    max-width: 50%;
    left: 3.55%;
    bottom: 5%;
    /* anchoring it to bottom left */
    margin: auto;
}